/*#region ISCROLL */
body {
    -webkit-text-size-adjust:none;
}

#wrapper {
	position:absolute; z-index:1;
	top: 90px; bottom:0; left:0; right: 0;
	background:#aaa;
	overflow:auto;
}

#scroller {
	height:100%;
	float:left;
	padding:0;
}

#scroller > ul {
	list-style:none;
	display:block;
	background: #fff;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}

#scroller > ul > li {
	display:block;
	position: relative;
	vertical-align:middle;
	float:left;
	padding:0 10px;
	min-height:100%;
    width: 768px;
	/*border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	background-color:#fafafa;*/
	font-size:14px;
	
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.inwrapper {
	position:absolute; z-index:1;
	top: 0; bottom: 0; left: 0; right: 0;
	overflow:auto;
}

.inscroller {
	width: 100%;
	padding: 10px;
	
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*#endregion ISCROLL */

/*#region HEADER */
.navbar-inverse .navbar-inner {
    min-height: 90px; height: auto;
    border-bottom:1px solid #202224;
    background: url('../images/nav_bg_wide.png') bottom center no-repeat, #404244;
    background-position: bottom center;
    background: url('../images/nav_bg_wide.png') bottom center no-repeat,-moz-linear-gradient(top,  #404244 0%, #202224 100%);
    background: url('../images/nav_bg_wide.png') bottom center no-repeat,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#404244), color-stop(100%,#202224));
    background: url('../images/nav_bg_wide.png') bottom center no-repeat,-webkit-linear-gradient(top,  #404244 0%,#202224 100%);
    background: url('../images/nav_bg_wide.png') bottom center no-repeat,-o-linear-gradient(top,  #404244 0%,#202224 100%);
    background: url('../images/nav_bg_wide.png') bottom center no-repeat,-ms-linear-gradient(top,  #404244 0%,#202224 100%);
    background: url('../images/nav_bg_wide.png') bottom center no-repeat,linear-gradient(to bottom,  #404244 0%,#202224 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404244', endColorstr='#202224',GradientType=0 );
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus 
{
    background: transparent;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav { float: none !important; }
/*#endregion HEADER */

.nav-tabs > li > a, .nav-pills > li > a { padding-left: 11px !important; padding-right: 11px !important; }

.pagination select {
    float: left;
    height: 40px;
    padding: 10px 5px; margin: 0;
    line-height: 38px;
    background-color: white;
    border: 1px solid #DDD;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn { font-weight: normal; }

.action-buttons { margin: 0 0 15px; }
.actions { margin: 0 0 5px 10px; }

.iblock 
{
    display: inline-block;
    
    .title { padding: 0 5px 0 15px; }
}

.table 
{
    thead  
    {
        background: #eee; 
        
        th { font-size: 17px; padding: 12px; text-transform: capitalize; }
    }
    
    tr, th, td { vertical-align: middle; }
    
    th, td               
    {
        max-width: 120px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
        
        /*span { text-overflow: ellipsis; }*/
        
        input[type="text"]  { max-width: 90%; }
    }
    
    select, textarea, input { margin-bottom: 0; width: auto; }
    select { display: block; width: 100%; }
    
    .btn { margin-bottom: 5px; }
}

.margint10 { margin-top: 10px; }

select:hover, label:hover { cursor: pointer; }

form { overflow-x: auto; }
.navbar 
{
    ul li
    {
        &:first-child a { padding-left: 0; }
        &:last-child a  { padding-right: 0; }
    }
    
    form 
    {
        margin: 10px 0;
    
        select { margin-right: 15px; }
        .btn { margin-top: 0; }
    }
}

label  
{
    display: inline-block; margin: 0 7px 0 0;
}

input[type='checkbox']{ margin: 0 10px 0 0; }


/*#region MEDIA QUERIES */

/*#region Screen (-480) */
@media only screen and (max-width : 480px), (max-device-width : 480px) {

}
/*#endregion Screen (-480) */

/*#region Screen (480-768) */
@media only screen and (min-width: 481px) and (max-width : 768px), (min-device-width : 480px) and (max-device-width : 768px) {
	
}
/*#endregion Screen (480-768) */

/*#region Screen iPad Portrait */
@media only screen and (max-width: 768px) and (min-width: 768px) and (orientation:portrait){
    #wrapper { top: 140px; }
}
/*#endregion Screen iPad Portrait */

/*#region Screen (768+) */
@media only screen and (min-width: 769px){
    /*#wrapper { top: 130px; }*/
    ul#screens 
    {
        > li { width: 940px; }
    }
}
/*#endregion  Screen (768+) */
    
/*#region Screen (1024+) */
@media only screen and (min-width:1025px) {
    
}
/*#endregion Screen (1024+) */

/*#region Screen (1200+) */
@media only screen and (min-width:1200px) 
{
    @screen-width: 1200px;
    
    #wrapper { top: 90px; min-width: @screen-width; }
    ul#screens 
    {
        > li { min-width: @screen-width; }
    }
}
/*#endregion Screen (1024+) */

/*#endregion MEDIA QUERIES */