.container.first {
  margin-top: 60px;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-left: 11px !important;
  padding-right: 11px !important;
}
.pagination select {
  float: left;
  height: 40px;
  padding: 10px 5px;
  margin: 0;
  line-height: 38px;
  background-color: white;
  border: 1px solid #DDD;
  outline: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn {
  font-weight: normal;
}
.action-buttons {
  margin: 0 0 15px;
}
.actions {
  margin: 0 0 5px 10px;
}
.iblock {
  display: inline-block;
}
.iblock .title {
  padding: 0 5px 0 15px;
}
.table thead {
  background: #eee;
}
.table thead th {
  font-size: 17px;
  padding: 12px;
  text-transform: capitalize;
}
.table tr,
.table th,
.table td {
  vertical-align: middle;
}
.table select,
.table textarea,
.table input {
  margin-bottom: 0;
  width: auto;
}
.table .btn {
  margin-bottom: 5px;
}
.margint10 {
  margin-top: 10px;
}
select:hover,
label:hover {
  cursor: pointer;
}
form {
  overflow-x: auto;
}
label {
  display: inline-block;
  margin: 0 7px 0 0;
}
input[type='checkbox'] {
  margin: 0 10px 0 0;
}
