@jaystackBlue: #00aff0;

body {
    -webkit-text-size-adjust: none;
    background: #F3F3F3;
    font-family: Arial, serif;
}

.rounded(@radius: 4px){
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.bold11 {
     font-weight: bold; text-transform: uppercase; font-size: 11px;
}

.bold12 {
     font-weight: bold; text-transform: uppercase; font-size: 12px;
}

.border-l-gray { border-left: 1px solid gray; padding-left: 15px; }
.border-r-gray { border-right: 1px solid gray; padding-right: 15px; }

select { 
    .bold12; color: #00aff0;
    .rounded(0);
    text-transform: capitalize;

    &:focus { outline: 0; }
}

.label-medium   { display: inline-block; min-width: 195px; width: auto; overflow: hidden; margin-top: 10px; padding-right: 15px; }
.jay-blue       { color: #00aff0; }
.text-inline    { margin-left: 3px; }

//============================================== HIDING <div> templates inside <script> tags ==============================================//
div[data-name-template]{ display: none; }

//============================================== HEADER ==============================================//
.navbar-inverse .navbar-inner {
    height: 30px;
    border-bottom:1px solid #202224;
    z-index: 4500; padding: 5px 10px;
    
    background: #404244;
    background-position: bottom center;
    background: -moz-linear-gradient(top,  #404244 0%, #202224 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#404244), color-stop(100%,#202224));
    background: -webkit-linear-gradient(top,  #404244 0%,#202224 100%);
    background: -o-linear-gradient(top,  #404244 0%,#202224 100%);
    background: -ms-linear-gradient(top,  #404244 0%,#202224 100%);
    background: linear-gradient(to bottom,  #404244 0%,#202224 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404244', endColorstr='#202224',GradientType=0 );
}

.storm-header {
    background: #101214;
    background: -moz-linear-gradient(top, #101214 0%, black 280px);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101214), color-stop(280px,black));
    background: -webkit-linear-gradient(top, #101214 0%,black 280px);
    background: -o-linear-gradient(top, #101214 0%,black 280px);
    background: -ms-linear-gradient(top, #101214 0%,black 280px);
    background: linear-gradient(to bottom, #101214 0%,black 280px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101214', endColorstr='#000000',GradientType=0 );
    
    position: fixed; top: 50px; left: 0; right: 0;
    width: 100%; height: 40px; line-height: 40px;
    padding: 5px 10px;
    z-index: 4500;
    
    label  { 
        color: #999; margin: 10px 10px 0 0; 

        &.bold12 { .fleft; padding-right: 15px; }
    }
    select { margin-right: 10px; }
   
    .container, ul.nav { line-height: 40px; height: 40px; }

    .nav li {
        a { 
            .bold12; border-right: 1px solid #3D3D3D;
        }

        &:last-child a { border: 0; }
    }
}

.nav .active > a, .nav .active > a:hover, .nav .active > a:focus 
{
    background: transparent;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.nav 
{
    float: none !important;
    
    .active > a, .active > a:hover { color: #00AFF0; }
}
.nav-tabs 
{
    min-width: 175px; background: #f3f3f3;
    
    > li {
        > a 
        {
            color: #999;
            
            &:hover 
            {
                color: darken(#999, 10%);
                background: #ebebeb;
            }
        }
        
        &.active 
        {
            background: #fff; margin-right: -1px !important;
            
            a { color: @jaystackBlue; margin-right: 0 !important; margin-bottom: 0; font-weight: bold; }
        }
    }
}
.nav-tabs > li > a, .nav-pills > li > a { padding-left: 11px; padding-right: 11px; }
.tab-content 
{
    h3 { font-size: 20px; }
}
.tabbable  
{
    clear: both;
    
    &.tabs-left > .nav-tabs { float: left !important; width: auto; }
}
.main-tab {
    margin-top: 51px;

    .nav-tabs {
        margin-right: -1px; 

        li {
            > a {
                font-size: 12px; font-weight: bold;
                text-transform: uppercase;
                padding-left: 15px;
                .rounded(0);
            }
        }
    }

    .tab-content {
        background: #fff;
        padding: 0 10px 0 15px;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    &.tabs-left .tabs-left-hl li.active > a {
        border-left: 4px solid #00aff0; padding-left: 12px;

        &:hover { border-left-color: #00aff0; }
    }
}

.tab-content-item {
    padding: 0 10px 0 0; min-height: 600px;

    .nav-tabs {
        width: 100%;
    }
}

.tab-left-container {
    float: left;

    .nav-tabs > li { float: none; }
}

.menu-title {
    font-size: 12px; line-height: 35px; font-family: Arial; font-weight: bold; text-transform: uppercase;
    margin: 0; padding: 0 0 0 17px; clear: both;
    /*background: #404244; color: #a8a8a8;
    border-bottom: 1px solid #202224;*/
    background: #00AFF0; color: #fff;
    border-bottom: 1px solid darken(#00aff0, 10%);
}

.brand
{
    background: url(../img/logo_jaystorm.png) top left no-repeat;
    display: inline-block; width: 142px; height: 28px; 
    margin: 8px 18px 0 5px !important; padding: 0 !important; 
    text-indent: -205px; overflow: hidden;
}

//============================================== ICONS ==============================================//
.icon
{
    display: inline-block; width: 40px; height: 40px;
    background: url(../img/sprites.png) no-repeat;
    
    &.access    { background-position: 0 0px; }
    &.service   { background-position: 0 -80px; }
    &.schema    { background-position: 0 -120px; }
    &.user      { background-position: 0 -240px; }
    &.data      { background-position: 0 -280px; }
    &.file      { background-position: 0 -320px; }
    &.security  { background-position: 0 -360px; }
    &.devices   { background-position: 0 -400px; }
}

.icon_70x70 {
    display: inline-block; width: 70px; height: 70px;
    background: url(../img/icon_70x70.png) no-repeat;

    &.db            { background-position: center -70px; }
    &.blogic        { background-position: center 0px; }
    &.publish-big   { background-position: center -140px; width: 86px; height: 60px; }
    &.devices-big   { background-position: center -201px; width: 87px; height: 66px; }
}

.icon_32x32 {
    display: inline-block; width: 32px; height: 32px;
    background: url(../img/icon_32x32.png) no-repeat;    

    &.html5         { background-position: 0 0;      }
    &.phonegap      { background-position: 0 -32px;  }
    &.kendo         { background-position: 0 -64px;  }
    &.nodejs        { background-position: 0 -96px;  }
    &.office        { background-position: 0 -128px; }
    &.lightswitch   { background-position: 0 -160px; }
    &.ruby          { background-position: 0 -192px; }
    &.php           { background-position: 0 -224px; }
    &.java          { background-position: 0 -257px; }
    &.csharp        { background-position: 0 -288px; }
    &.typescript    { background-position: 0 -320px; }
}
.main-tab .nav-tabs .icon_32x32 { margin-top: 5px; }

.after-icon:after {
    content: '';
    display: inline-block; width: 14px; height: 14px;
    margin-top: 2px; float: right;
    background: url(../img/glyphicons-halflings.png) no-repeat;
    
}

.star:after     { background-position: -120px 0; }
.edit:after     { background-position: 0 -72px; }
.access:after   { background-position: -96px -24px; }

//============================================== WELCOME PAGE ==============================================//
#welcome 
{
    position: absolute; top: 51px; bottom: 0; left: 0; right: 0; 
    background: #fff; z-index: 950;
    
    .container 
    {
        min-height: 500px; height: 100%; margin: 0 auto; 
    }
    
    ul 
    {
        margin: 0; clear: both;      
        
        li  
        {
            list-style-type: none; position: relative; margin: 0 0 15px;
            float: left; width: 325px;
        
            .icon { position: absolute; top: 10px; }
            .item-content { margin-left: 55px; }
        }
    }
    
    h2  { font-size: 22px; line-height: 26px; margin-bottom: 5px; }
    a   { color: #00aff0; }
    p   { color: #606060; }
}

//============================================== SCROLLBAR ==============================================//
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    background: #F8F8F8;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3); 
}
 
::-webkit-scrollbar-thumb {
    background: #CFCFCF;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

//============================================== ALERT ==============================================//
.alert
{
    &.alert-info { margin-top: 0; clear: none; display: inline-block; max-width: 50%; }
    
    &.alert-danger
    {
        min-width: 420px; width: auto; float: right;
    }
    
    &.right { float: right; }
    
    p { margin: 0; }
}

//============================================== TODO LIST ==============================================//
/*
<div class="todo-list">
    <h3>Todo list</h3>
    <dl>
        <dd>todo item 1</dd>
        <dd>todo item 2</dd>
        <dd>todo item 3</dd>
    </dl>
</div>
*/
.todo-list {
    display: none; background: #FFC;
    text-decoration: none;
    color: black;
    min-height: 10em; height: auto;
    min-width: 10em; width: auto; max-width: 170px;
    padding: 1em;
    position: relative; top: 25px; left: 10px;
    border: 1px solid #F0F0F0;
    -moz-box-shadow: 5px 5px 5px rgba(143, 143, 143, 0.3);
    -webkit-box-shadow: 5px 5px 5px rgba(143, 143, 143, 0.3);
    box-shadow: 5px 5px 5px rgba(143, 143, 143, 0.3);
    
    h3 { font-size: 21px; line-height: 21px; margin: 3px 0 5px; }
    
    dl 
    {
        margin-left: 10px;

        dd 
        {
            display: list-item;
            list-style-type: disc;
            margin-bottom: 2px;
        }
    }
}

//============================================== CODE MIRROR ==============================================//
.CodeMirror-error-pos {
    font-weight: bold;
    
    &:after {
        content: ':';
    }
}

.CodeMirror-error-reason {
    color: #D10000;
}

.CodeMirror-scrollbar {
    /*visibility: hidden;*/
}

.CodeMirror-scroll {
    border: 10px solid #F0F1F2;
    margin: 10px 0;
    /*height: 650px !important;*/
    position: relative;
    overflow: hidden !important;
}

.CodeMirror-gutter {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.CodeMirror-error-code {
    margin: 5px 0 10px;
}

.code-mirror-custom-errors
{
    margin-bottom: 30px; overflow: hidden; padding-bottom: 15px;
}

.CodeMirror-fullscreen
{
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    z-index: 9999;
}

.CodeMirror-gutter-text
{
    border-bottom: 1px solid #DEDEDE;
    position: relative; bottom: 2px;
}

.CodeMirror-gutter
{
    border-top: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;
}

.activeline
{
    background: rgba(255, 255, 255, 0.2) !important;
}

span.CodeMirror-matchhighlight
{
    background: rgba(255, 255, 255, 0.2);
}

.CodeMirror-focused span.CodeMirror-matchhighlight
{
    background: rgba(255, 255, 255, 0.3) !important;
}

/*#region FILES SCREEN */
.filesScreen 
{
    form  
    {
        margin: 15px 10px 0 0;
        
        input { margin: 0; height: 35px; }
    }
    
    .part { overflow: hidden; clear: both; margin-top: 25px; }
    
    .qq-upload-list { margin: 20px 0; }
}
/*#endregion FILES SCREEN */

/*#region GALLERY THUMBNAILS */
.gallery.thumbnails 
{
    li 
    {
        min-height: 300px;
        
        div.thumbnail
        {
            min-height: 200px;
            
            a.thumbnail  
            {
                height: 150px;
                
                img { height: 100%; }
            }
        }
    }    
}
/*#endregion GALLERY THUMBNAILS */

/*#region BOX-CIRCLE */
.box 
{
    text-align: center; position: relative; margin: 0 auto;
    
    h2      { color: #fff; opacity: 0.5; }
    h3      { text-shadow: 0 -1px 0 gray; }
    h2, h3  { position: relative; text-align: center; }
}

.box-mini
{
    @size: 40px;
    width: @size; height: @size;
    
    h2 { top: 0; font-size: 22px !important; }
}

.box-medium
{
    @size: 145px;
    width: @size; height: @size;
    
    h2 { font-size: 40px !important; }
    h3 { font-size: 24px; font-family: Arial; line-height: 26px; }
}

.box-circle 
{
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.box-jayblue 
{
    background: lighten(@jaystackBlue, 20%);
    color: #fff;
}

.box-gray 
{
    background: #E0E0E0;
    color: #fff;
}
/*#endregion BOX-CIRCLE */

/*#region BIG HINT */
#welcome .thumbnails.big
{
    position: relative; margin: 0;
    background: #f3f3f3; border: 1px solid darken(#f3f3f3, 5%);
    
    h1          { color: gray; margin: 0 0 10px; }
    h3          { font-size: 18px; text-align: center; color: #0BBDFF; margin: 15px 0 -10px; }
    .blue-line  { position: absolute; top: 155px; left: 0; right: 0; margin: 0; z-index: 100; }
    .wrapper    { padding: 10px 0; }
    .muted      { color: #999; }
    
    ul 
    {
        float: none; overflow: hidden;
        width: 100%; z-index: 1200;
        position: relative;

        li.thumbnail 
        {
            clear: none; float: left; margin-right: 15px; margin-bottom: 0;
            width: 225px; border: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            
            .box 
            {
                display: -webkit-box;
                display: -moz-box;
                display: box;
            
                -moz-box-orient: vertical;
                -moz-box-pack: center;
                -moz-box-align: center;
                
                -webkit-box-orient: vertical;
                -webkit-box-pack: center;
                -webkit-box-align: center;
                
                box-orient: vertical;
                box-pack: center;
                box-align: center;
            }
            
            .box, p
            {
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                transition: all 0.2s;
            }
            p { color: lighten(#606060, 20%); text-align: center; }
            
            &:hover 
            {
                cursor: pointer;
                
                .box    { background: lighten(@jaystackBlue, 5%); }
                p       { color: #606060; }
                h3      { color: #00aff0; }
            }
        
            &:last-child  
            {
                margin-right: 0;
                
                &:after { display: none; }
            }
            
            &:after 
            {
                content: ''; display: inline-block;
                background: url("../img/icon_arrow_next.png") top right no-repeat transparent;
                width: 90px; height: 48px;
                -webkit-opacity: .25;
                -moz-opacity: .25;
                opacity: .25;
                position: absolute; top: 55px; right: -20px;
            }
            
            p { margin: 15px 0 0; }
        }
    }
}
/*#endregion BIG HINT */

/*#region SMALL HINT */
.thumbnails.small
{
    float: right; position: relative; 
    margin: 0 0 15px; 
    border: 5px solid #ddd;
    
    .wrapper-mini   { border: 1px solid #cfcfcf; }

    h3              { font-size: 13px; font-family: Arial; line-height: 16px; color: #E0E0E0; text-align: center; }
    .blue-line      { position: absolute; margin: 0; left: 1px; right: 1px; top: 29px; z-index: 1; height: 15px; }
    .muted          { color: #999; }
    h2 .icon-white  { margin-top: 7px; }

    ul
    {
        float: none; overflow: hidden; margin: 0;
        width: 100%; z-index: 2;
        position: relative;

        li.thumbnail 
        {
            clear: none; float: left; margin-right: 15px;
            width: 95px; border: none; position: relative;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            
            .box h2 { opacity: 1; }
            
            .box, p, h3
            {
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                transition: all 0.2s;
            }
            p { color: lighten(#606060, 20%); }
            
            &:hover 
            {
                cursor: pointer;
                
                .box-jayblue    { background: lighten(@jaystackBlue, 5%); }
                .box-gray       { background: darken(#E0E0E0, 5%); }
                h3              { color: lighten(#939393, 5%); }
                p               { color: #606060; }
            }
        
            &:last-child  
            {
                margin-right: 0;
                
                &:after { display: none; }
            }
            
            &:after 
            {
                content: ''; display: inline-block;
                background: url("../img/icon_arrow_next.png") center center no-repeat transparent;
                background-size: 30%;
                width: 50px; height: 45px;
                position: absolute; top: 15px; right: -35px;
                opacity: 0.2;
            }
            
            &.active 
            {
                h3 { color: lighten(@jaystackBlue, 20%); }
                
                &:hover { h3 { color: lighten(@jaystackBlue, 5%); } }
            }
            
            p { margin: 15px 0 0; }
        }
    }
}
/*#endregion SMALL HINT */

h1, h2, h3, h4, h5, h6 { font-family: Tahoma, Arial; }
h1 { font-size: 24px; color: #00aff0; }
h4 { font-size: 19px; margin: 5px 0 15px; }
h5 { font-size: 16px; }

.clear      { clear: both; }
.fleft      { float: left; }
.fright     { float: right; }
.iblock     { display: inline-block; }
.marginr10  { margin-right: 10px; }
.margint0   { margin-top: 0 !important; }
.margint35  { margin-top: 35px; }
.reset-m    { margin: 0 !important; }
.sub-title   
{
    margin: 5px 0 10px;
    line-height: 25px;
}
h5.muted 
{
    margin: 0 0 10px; font-size: 14px; font-weight: normal;
}
.jayblue { color: #00aff0; }
.wrapper { width: 980px; margin: 0 auto; }

.blue-line 
{
    background: #c7f0ff;
    height: 32px;
}

.resetlist 
{
    list-style-type: none; margin: 0 0 10px;
    
    li { list-style-type: none; }
}

.fields 
{
    label { margin: 0; }
    
    input[type="password"]  { margin: 5px 0 10px; }
    input[type="submit"]    { margin: 15px 0 0; }
}

.pagination select {
    float: left;
    height: 40px;
    padding: 10px 5px; margin: 0;
    line-height: 38px;
    background-color: white;
    border: 1px solid #DDD;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn { 
    .bold11; min-width: 60px;

    i {
        float: left; margin: 3px 5px 0 -5px;
    }
}

.action-buttons { margin: 0 0 15px; }
.actions { margin: 0 0 5px 10px; }

.iblock {   
    .title { padding: 0 5px 0 15px; }
}

#svcGrid .table {
    th, td { text-align: left; }
}
.table 
{
    thead  
    {
        background: #eee; 
        
        th { font-size: 15px; padding: 8px 10px; text-transform: capitalize; border-bottom: 3px solid #ddd; }
    }
    
    tr, th, td { vertical-align: middle; }
    
    th, td
    {
        max-width: 120px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: center;
        
        input[type="text"]  { max-width: 90%; }
        
        > pre[id^=Service] {
            text-overflow: ellipsis; 
            white-space: nowrap; 
            overflow: hidden; 
            max-height: 50px; 
            padding: 5px 10px;
            margin: 0; 
            background: #eee; 
            border: 1px solid #ddd; 
            -webkit-border-radius: 5px; 
            -moz-border-radius: 3px;
            border-radius: 5px;
        }
    }
    
    select, textarea, input { margin-bottom: 0; width: auto; }
    select { display: block; width: 100%; }
    
    .btn { margin-bottom: 5px; }
}
table .inner-table {
    th, td { text-align: left; }
}
.inner-table { text-align: left; }

.margint10 { margin-top: 10px; }

select:hover, label:hover { cursor: pointer; }
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background: transparent; }

form { overflow-x: auto; }

.navbar 
{
    ul li
    {
        &:first-child a { padding-left: 0; }
        &:last-child a  { padding-right: 0; }
    }
    
    .nav > li
    {
        > a {
            color: #fff;
            text-shadow: none !important;
            
            &:hover { color: @jaystackBlue; }
        }
    }
    
    .nav > .active > a, .nav > .active > a:hover, .nav > .active > a:focus 
    {
        background: transparent; color: @jaystackBlue;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    
    form 
    {
        margin: 5px 0 0; height: 30px; line-height: 30px; overflow: hidden;
    
        select { margin-right: 15px; }
        .btn { margin-top: 0; }
    }
    
    &.navbar-fixed-top {
        &.medium {
            .navbar-inner {               
                .container { padding-top: 8px; color: #fff; }
            }
        }
    }
    
    .fullrow2 
    {
        overflow: hidden; padding-left: 156px;
        
        .title { height: 40px; line-height: 40px; margin-right: 15px; }
        
        .nav  
        {
            float: left !important; 
        
            li 
            {
                a { color: #fff; }
            
                &.active 
                {
                    a { color: #00aff0; }    
                }
            }    
        }
    }
}
.sub-navbar 
{
    padding: 0 10px 0 0; height: 30px; line-height: 30px;
}

label  
{
    display: inline-block; margin: 0 10px 0 0;
}

input[type='checkbox']{ margin: 0 10px 0 0; }

.full-screen 
{
    position: relative; top: 91px; padding: 0 10px;
    background: #fff;
    
    &.medium { top: 51px; }
}

.validation-msg 
{
    color: Red; padding: 10px 5px;
    
    p { margin: 0; }
    .first { font-weight: bold; }
}

.navbar ul li:last-child {
    height: 40px;
}
.navbar ul li a.btn-info:hover {
    background: #2F96B4 !important; padding-right: 15px;
}
.navbar ul .btn.btn-info {
    color: #fff !important;
    background-color: #49AFCD !important;
    background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4)) !important;
    background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4) !important;
    background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4) !important;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

    margin-right: 15px;
}
.navbar ul .btn {
    color: #555 !important; text-shadow: none !important; padding: 4px 10px !important;
    position: relative; top: 0px; left: 10px; background: whiteSmoke !important;
}
.navbar ul .btn:hover {
    background: #fff !important;
}
#fileUpload h4 {
    margin: 20px 0 10px;
}
table.table tr td:last-child .btn {
    min-width: 70px;
    box-sizing: border-box;
}

fieldset 
{
    margin: 0 0 15px; white-space: normal;
    
    legend 
    {
        h3 { margin: 0 0 5px; }
    }
}

.thumbnail {
    white-space: normal !important;
}

.cyan_list {
    margin: 0; padding: 0;

    li { 
        margin: 0 0 8px 5px; padding-left: 18px; 
        line-height: 18px; 
        background: url(../img/li_cyan.png) center left no-repeat;
        list-style-type: none;
    }
}

//============================================== Screen -988 ==============================================//
@media only screen and (max-width : 988px){
	.full-screen.medium { top: 0; }
}

//============================================== Screen iPad Portrait ==============================================//
@media only screen and (max-width: 768px) and (min-width: 768px) and (orientation:portrait){
    #wrapper { top: 140px; }
}

//============================================== Screen 768+ ==============================================//
@media only screen and (min-width: 769px){
    /*#wrapper { top: 130px; }*/
    /*ul#screens 
    {
        > li { width: 940px; }
    }*/
    
    img { max-width: 900px; }
}
  
//============================================== Screen 1024+ ==============================================//
@media only screen and (min-width:1025px) {
    .table td input[type="text"]:nth-child(2) {
        width: 33%;
    }

    .table th input[type="text"], .table td input[type="text"] {
        width: 94%;
    }
}

//============================================== Screen 1200+ ==============================================//
@media only screen and (min-width:1200px) 
{   
    @screen-width: 1200px;
    
    #wrapper { top: 90px; min-width: @screen-width; }
    img { max-width: 1120px; }
}

//============================================== Screen 1600+ ==============================================//
@media only screen and (min-width:1600px) 
{
    .todo-list { display: block; }
}

//============================================== Screen 1800+ ==============================================//
@media only screen and (min-width:1800px) 
{
    .todo-list { max-width: 250px; }
}