<form class="form-horizontal">
    <fieldset>
        <legend>
          <h3>Tutorial</h3>
        </legend>
        <p>This is a tutorial about how can you use your JayStorm service in a C# .NET console application.<br>
        Click on the images to view in full size.</p>
        <ul class="gallery thumbnails" id="csharp-gallery-<%=service.ServiceID %>">
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox first thumbnail" rel="group1" title="Step 1 - Create a project: Right click on project and select Add Service Reference" href="/img/template/csharp/1addservicereference.JPG">
                <img src="/img/template/csharp/1addservicereference.JPG" />
              </a>
              <h5>Step 1 - Create a project</h5>
              <p>Right click on project and select Add Service Reference</p>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title="Step 2 - Service URL: Add service url and press Go" href="/img/template/csharp/2serviceurl.JPG">
                <img src="/img/template/csharp/2serviceurl.JPG" />
              </a>
              <h5>Step 2 - Service URL</h5>
              <p>Add service url and press Go</p>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title="Step 3 - Enjoy" href="/img/template/csharp/3crud.JPG">
                <img src="/img/template/csharp/3crud.JPG" />
              </a>
              <h5>Step 3 - Enjoy</h5>
            </div>
            </li>
        </ul>
<%
    setTimeout(function(){ $('#csharp-gallery-' + service.ServiceID + ' .fancybox').fancybox({ loop: false, nextEffect : 'fade', prevEffect : 'fade' }); }, 0);
  %>
</fieldset>
</form>
