<form class="form-horizontal">
    <fieldset>
        <legend>
          <h3>Tutorial</h3>
        </legend>
      
        <h3 class='margint35'>Step 1 - Create a project</h3>
        <h5>Right click on project and select Add Service Reference</h5>
        <p>
          <img src="/img/template/csharp/1addservicereference.JPG"></img>
        </p>

        <h3 class='margint35'>Step 2 - Service url</h3>
        <h5>Add service url and press Go</h5>
        <p>
          <img src="/img/template/csharp/2serviceurl.JPG"></img>
        </p>

        <h3 class='margint35'>Enjoy</h3>
        <p>
          <img src="/img/template/csharp/3crud.JPG"></img>
        </p>
    </fieldset>
</form>
