<form class="form-horizontal">
    <% if (tsContext){ %>
    <fieldset>
        <legend>
          <h3>JayData TypeScript context</h3>
        </legend>
        <p>Include this TypeScript code into your application to use a static JayData context.</p>
        <textarea id="service-<%=template.name %>-template-<%=service.ServiceID %>" style="width:98%;resize:none;font-family:monospace;background:black;color:silver;"><%
        setTimeout(function(){
            var el = document.getElementById('service-' + template.name + '-template-' + service.ServiceID);
            if (el){
                el.style.height = el.scrollHeight + 'px';
            }
        });
        %><%=tsContext %></textarea>
    </fieldset>
    <% } %>
</form>
<% if (!jsContext){ %>
<p class="text-error">Service unpublished. Please publish your service by deploying your application.</p>
<% }%>
