<form class="form-horizontal">
    <fieldset>
        <legend>
          <h3>Tutorial</h3>
        </legend>
      
        <h3 class='margint35'>Step 1 - Create a LightSwitch Application</h3>
        <h5>Click "Attach to external Data Source", and select "OData Service" then Enter Service url</h5>
        <p>
          <img src="/img/template/lightswitch/1externalDataSource.JPG"></img>
        </p>
        <p>
          <img src="/img/template/lightswitch/1externalDataSource_2.JPG"></img>
        </p>
        <p>
          <img src="/img/template/lightswitch/1externalDataSource_3.JPG"></img>
        </p>
          
        <h5 class="margint35">Check Tables to use in application</h5>
        <p>
          <img src="/img/template/lightswitch/2selectTables.JPG"></img>
        </p>
          
        <h3 class="margint35">Step 2 - Add Screen</h3>
        <h5>Right click on Screens and select Add Screen</h5>
        <p>
          <img src="/img/template/lightswitch/3addscreen.JPG"></img>
        </p>

        <h3 class="margint35">Enjoy</h3>
        <h5>Press F5 and you are done</h5>
        <p>
          <img src="/img/template/lightswitch/4done.JPG"></img>
        </p>
    </fieldset>
</form>
