<form class="form-horizontal">
    <fieldset>
        <legend>
          <h3>Tutorial</h3>
        </legend>
        
        <ul class="gallery thumbnails" id="lightswitch-gallery-<%=service.ServiceID %>">
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox first thumbnail" rel="group1" href="/img/template/lightswitch/1externalDataSource.JPG">
                <img src="/img/template/lightswitch/1externalDataSource.JPG" />
              </a>
              <h5>Step 1 - Create a LightSwitch Application</h5>
              <p>Click "Attach to external Data Source"...</p>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" href="/img/template/lightswitch/1externalDataSource_2.JPG">
                <img src="/img/template/lightswitch/1externalDataSource_2.JPG" />
              </a>
              <p>...and select "OData Service"</p>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" href="/img/template/lightswitch/1externalDataSource_3.JPG">
                <img src="/img/template/lightswitch/1externalDataSource_3.JPG" />
              </a>
              <p>...then Enter Service url</p>
            </div>
            </li>
            
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox first thumbnail" rel="group1" href="/img/template/lightswitch/2selectTables.JPG">
                <img src="/img/template/lightswitch/2selectTables.JPG" />
              </a>
              <h5>Step 2 - Check Tables to use in application</h5>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" href="/img/template/lightswitch/3addscreen.JPG">
                <img src="/img/template/lightswitch/3addscreen.JPG" />
              </a>
              <h5>Step 3 - Add Screen</h5>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" href="/img/template/lightswitch/4done.JPG">
                <img src="/img/template/lightswitch/4done.JPG" />
              </a>
              <h5>Step 4 - Press F5 and you are done</h5>
            </div>
            </li>
        </ul>
<%
    setTimeout(function(){ $('#lightswitch-gallery-' + service.ServiceID + ' .fancybox').fancybox(); }, 0);
%>
    </fieldset>
</form>
