<form class="form-horizontal">
    <fieldset>
        <legend>
          <h3>Service URL</h3>
        </legend>
        <input type="text" style="width:100%;" value="<%=app.url + service.Name + '/' %>" />
    </fieldset>
    <fieldset>
        <legend>
          <h3>MS Office 2010</h3>
        </legend>
        <h3 class='margint35'>Step 1 - Open Excel</h3>
        <p class='alert alert-info iblock margint0'>
          <b>Important!</b> If u dont have PowerPivot you have to install it
        </p>
        <h5>Open excel with a blank workbook</h5>
        <h5>Select the PowerPivot tab and select "PowerPivot Window"</h5>
        <p>
          <img src="/img/template/excel/2010/1powerpivot.JPG"></img>
        </p>
      
        <h3 class='margint35'>Step 2 - Import Data</h3>
        <h5>Select "From Data Feeds"</p>
        <p>
          <img src="/img/template/excel/2010/2datafeeds.JPG"></img>
        </p>
      
        <h5 class="margint35">Enter Service url</h5>
        <p>
          <img src="/img/template/excel/2010/3serviceUrl.JPG"></img>
        </p>
          
        <h5 class="margint35">Check Tables to import then press Finish</h5>
        <p>
          <img src="/img/template/excel/2010/4selecttables.JPG"></img>
        </p>

        <h3 class='margint35'>Enjoy</h3>
        <p>
          <img src="/img/template/excel/2010/5done.JPG"></img>
        </p>
    </fieldset>
    <fieldset>
        <legend>
          <h3>MS Office 2013</h3>
        </legend>

        <h3 class='margint35'>Step 1 - Open Excel</h3>
        <h5>Open excel with a blank workbook</h5>
        <p>
          <img src="/img/template/excel/2013/image_2.png"></img>
        </p>

        <h3 class='margint35'>Step 2 - Import Data</h3>
        <h5>Select the DATA tab and select "From Other Sources". Pick: From OData Data Feed</h5>
        <p>
          <img src="/img/template/excel/2013/image_4.png"></img>
        </p>
      
        <h5 class="margint35">Enter Service url</h5>
        <p>
          <img src="/img/template/excel/2013/image_8.png"></img>
        </p>
      
        <h5 class="margint35">Check Tables to import</h5>
        <p>
          <img src="/img/template/excel/2013/image_10.png"></img>
        </p>
        <p>
          <img src="/img/template/excel/2013/image_12.png"></img>
        </p>
      
        <h5 class="margint35">Press OK!</h5>

        <h3 class='margint35'>Enjoy</h3>
        <p>
          <img src="/img/template/excel/2013/image_14.png"></img>
        </p>
    </fieldset>
</form>
