<form class="form-horizontal">
    <fieldset>
        <legend>
          <h3>MS Office 2010</h3>
        </legend>
        
        <p>This is a tutorial about how you can access data from your JayStorm service in Microsoft Office 2010 Excel.<br>
        Click on the images to view in full size.</p>
        
        <p class='alert alert-info iblock margint0'>
          <b>Important!</b> If you dont have PowerPivot you have to install it
        </p>
        
        <ul class="gallery thumbnails" id="office2010-gallery-<%=service.ServiceID %>">
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox first thumbnail" rel="group1" title='Step 1 - Open Excel: Open excel with a blank workbook and select the PowerPivot tab and select "PowerPivot Window"' href="/img/template/excel/2010/1powerpivot.JPG">
                <img src="/img/template/excel/2010/1powerpivot.JPG" />
              </a>
              <h5>Step 1 - Open Excel</h5>
              <p>Open excel with a blank workbook</p>
              <p>Select the PowerPivot tab and select "PowerPivot Window"</p>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title='Step 2 - Import Data: Select "From Data Feeds"' href="/img/template/excel/2010/2datafeeds.JPG">
                <img src="/img/template/excel/2010/2datafeeds.JPG" />
              </a>
              <h5>Step 2 - Import Data</h5>
              <p>Select "From Data Feeds"</p>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title="Step 3 - Enter service URL" href="/img/template/excel/2010/3serviceUrl.JPG">
                <img src="/img/template/excel/2010/3serviceUrl.JPG" />
              </a>
              <h5>Step 3 - Enter service URL</h5>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title="Step 4 - Check Tables to import then press Finish" href="/img/template/excel/2010/4selecttables.JPG">
                <img src="/img/template/excel/2010/4selecttables.JPG" />
              </a>
              <h5>Step 4 - Check Tables to import then press Finish</h5>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title="Step 5 - Enjoy" href="/img/template/excel/2010/5done.JPG">
                <img src="/img/template/excel/2010/5done.JPG" />
              </a>
              <h5>Step 5 - Enjoy</h5>
            </div>
            </li>
        </ul>
<%
    setTimeout(function(){ $('#office2010-gallery-' + service.ServiceID + ' .fancybox').fancybox({ loop: false, nextEffect : 'fade', prevEffect : 'fade' }); }, 0);
  %>
</fieldset>
    <fieldset>
        <legend>
          <h3>MS Office 2013</h3>
        </legend>
        
        <p>This is a tutorial about how you can access data from your JayStorm service in Microsoft Office 2013 Excel.<br>
        Click on the images to view in full size.</p>
        
        <ul class="gallery thumbnails" id="office2013-gallery-<%=service.ServiceID %>">
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox first thumbnail" rel="group1" title="Step 1 - Open Excel: Open excel with a blank workbook" href="/img/template/excel/2013/image_2.png">
                <img src="/img/template/excel/2013/image_2.png" />
              </a>
              <h5>Step 1 - Open Excel</h5>
              <p>Open excel with a blank workbook</p>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title='Step 2 - Select the DATA tab and select "From Other Sources". Pick: From OData Data Feed' href="/img/template/excel/2013/image_4.png">
                <img src="/img/template/excel/2013/image_4.png" />
              </a>
              <h5>Step 2 - Select the DATA tab...</h5>
              <p>...and select "From Other Sources". Pick: From OData Data Feed</p>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title="Step 3 - Enter service URL" href="/img/template/excel/2013/image_8.png">
                <img src="/img/template/excel/2013/image_8.png" />
              </a>
              <h5>Step 3 - Enter service URL</h5>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title="Step 4 - Check Tables to import" href="/img/template/excel/2013/image_10.png">
                <img src="/img/template/excel/2013/image_10.png" />
              </a>
              <h5>Step 4 - Check Tables to import</h5>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title="Step 5 - Press OK!" href="/img/template/excel/2013/image_12.png">
                <img src="/img/template/excel/2013/image_12.png" />
              </a>
              <h5>Step 5 - Press OK!</h5>
            </div>
            </li>
            <li class="span4">
            <div class="thumbnail">
              <a class="fancybox thumbnail" rel="group1" title="Step 6 - Enjoy" href="/img/template/excel/2013/image_14.png">
                <img src="/img/template/excel/2013/image_14.png" />
              </a>
              <h5>Step 6 - Enjoy</h5>
            </div>
            </li>
        </ul>
<%
    setTimeout(function(){ $('#office2013-gallery-' + service.ServiceID + ' .fancybox').fancybox({ loop: false, nextEffect : 'fade', prevEffect : 'fade' }); }, 0);
  %>
</fieldset>
<!--
    <fieldset>
        <legend>
          <h3>MS Office 2013</h3>
        </legend>

        <h3 class='margint35'>Step 1 - Open Excel</h3>
        <h5>Open excel with a blank workbook</h5>
        <p>
          <img src="/img/template/excel/2013/image_2.png"></img>
        </p>

        <h3 class='margint35'>Step 2 - Import Data</h3>
        <h5>Select the DATA tab and select "From Other Sources". Pick: From OData Data Feed</h5>
        <p>
          <img src="/img/template/excel/2013/image_4.png"></img>
        </p>
      
        <h5 class="margint35">Enter Service url</h5>
        <p>
          <img src="/img/template/excel/2013/image_8.png"></img>
        </p>
      
        <h5 class="margint35">Check Tables to import</h5>
        <p>
          <img src="/img/template/excel/2013/image_10.png"></img>
        </p>
        <p>
          <img src="/img/template/excel/2013/image_12.png"></img>
        </p>
      
        <h5 class="margint35">Press OK!</h5>

        <h3 class='margint35'>Enjoy</h3>
        <p>
          <img src="/img/template/excel/2013/image_14.png"></img>
        </p>
-->
    </fieldset>
</form>
